span.l-depth-marker {
  margin-right: 3px;
}

.container {
  padding-top: 18px;
}

.cur.e-in, .cur.e-out, .circuits-active, .circuits-total {
  display: block;
  border: 1px solid #2a4480;
  background-color: rgba(103, 158, 210, 0.3);
  padding: 2px 5px 2px 3px;
  color: #06266f;
  border-radius: 3px;
  box-shadow: rgba(64, 138, 210, 0.3) -2px 2px 4px;
  width: 60px;
  margin: 0 auto;
}

div.col {
background-color: rgb(103, 158, 210);
}
table.table {
  td, th {
    &.centered {
      text-align: center;
    }
  }
}

@include "bootstrap_less/bootstrap.less";

body fieldset {
	padding: 10px;
	border: 2px solid #666;
	display: inline;
	border-radius: 5px;
}

body fieldset input, body fieldset select {
	padding: 4px;
	font-size: 13px;
	margin-bottom: 4px;
	
}

body fieldset table td div.input-append, body fieldset table td div.input-prepend{
	margin: 0px;
}

body fieldset legend {
	margin-bottom: 0px;
	padding: 2px;
	width: auto;
	border: none;
	font-size: 16px;
}

body .icon-info-sign {
	cursor: help;
}

body input {
	width: 150px;
	height: 16px;
}

body select {
	width: 160px;
}

body div.input-append span.add-on, body div.input-prepend span.add-on {
	height: 16px;
}